extends layout

block content
    h1 Playlist Parsing
    
    form#formAddUser(name="showplaylist",method="post",action="/getplaylist")
        input#inputPlaylist(type="text", placeholder="playlist slug", name="slug")

  
        button#btnSubmit(type="submit") submit

    ul
    // iterate datas
    each data in mydata
        li= data


