body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.songobject {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	max-width: 150px;

}

.songobject #title {
	font-weight: bold;
	display: block;
}

.songobject #artist {
	font-weight: bold;
	display: block;
}

.songobject img {
	width: 150px;
	height: 150px;
}
